<div ng-controller="WireSequencesController">
    <h1>Wire Sequences
        <button class="btn btn-default" ng-click="reloadRoute()">Clear</button>
    </h1>
    <div class="col-md-8">
        <div class="panel panel-default" ng-repeat="wire in wires" ng-class="{'hidden': !showPosition(wire.number - 1)}">
            <div class="panel-heading">Position {{wire.number}}</div>
            <div class="panel-body">
                <div class="col-md-10">
                    <table>
                        <tr><td>
                            <label class="btn btn-default" id="noWireButton{{wire.name}}">
                                <input type="radio" value="None" ng-model="wire.color" ng-change="updateWire(wire, wire.color);updateResults();"> No Wire
                            </label>
                            <label class="btn btn-primary" id="blueButton{{wire.name}}">
                                <input type="radio" value="Blue" ng-model="wire.color" ng-change="updateResults()"> Blue
                            </label>
                            <label class="btn btn-danger" id="redButton{{wire.name}}">
                                <input type="radio" value="Red" ng-model="wire.color" ng-change="updateResults()"> Red
                            </label>
                            <label class="btn btn-default" id="blackButton{{wire.name}}">
                                <input type="radio" value="Black" ng-model="wire.color" ng-change="updateResults()"> <strong>Black</strong>
                            </label>
                        </td></tr>
                        <tr height="10"><td></td></tr>
                        <tr><td>
                            <label class="btn btn-default" id="destinationA{{wire.name}}">
                                <input type="radio" value="A" ng-model="wire.destination" ng-change="updateResults();"> <h2>A</h2>
                            </label>
                            <label class="btn btn-default" id="destinationB{{wire.name}}">
                                <input type="radio" value="B" ng-model="wire.destination" ng-change="updateResults()"> <h2>B</h2>
                            </label>
                            <label class="btn btn-default" id="destinationC{{wire.name}}">
                                <input type="radio" value="C" ng-model="wire.destination" ng-change="updateResults()"> <h2>C</h2>
                            </label>
                        </td></tr>
                    </table>

                </div>
                <div class="col-md-2"><div ng-class="{'alert alert-danger': wire.cut && wire.processed, 'hidden': !wire.cut || !wire.processed}" align="center"><h2><strong>CUT</strong></h2></div>
                <div ng-class="{'alert alert-success': !wire.cut && wire.processed, 'hidden': wire.cut || !wire.processed}" align="center"><h2><strong>SKIP</strong></h2></div> </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Number of Red Wires: {{numRedWires}}</h3>
        <h3>Number of Blue Wires: {{numBlueWires}}</h3>
        <h3>Number of Black Wires: {{numBlackWires}}</h3>
    </div>
</div>